$primary: #80CF0F;
$pramaryDark: #2f4c06;

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f1f1f1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #ffffff;
  padding: 40px;
  min-height: 500px;
}

footer {
  margin: 20px;
}

h1 {
  color: $primary;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

a {
  color: initial;

  &:hover {
    color: $primary;
  }
}

.news-item {
  position: relative;

  h2 {
    line-height: 42px;
    font-size: 30px;
  }

  p {
    line-height: 26px;
  }

  .date {
    color: #555555;
    display: block;
    font-size: 12px;
    left: 440px;
    position: absolute;
    top: 20px;
  }

  .news-text {
    margin-right: 40px;
    padding-top: 40px;
    margin-left: 440px;
    margin-bottom: 80px;
  }

  .news-download {
    display: block;

    svg {
      transition-property: transform;
      transition-duration: 250ms;
      position: absolute;
      transform: translate(-50px, 3px);
      width: 40px;
    }

    span {
      line-height: 24px;
    }

    &:hover {
      svg {
        transform: translate(-50px, 3px) scale(1.5);
      }
    }
  }
}

.photo-and-caption {
  float: left;
  margin-right: 40px;

  img {
    max-width: 400px;
    display: block;
  }

  .caption {
    font-size: 10px;
    color: #555555;

    a {
      text-decoration: none;
    }

  }
}

.publication_container {
  clear: both;
  display: block;
  padding: 20px;
  position: relative;

  h3 {
    color: $pramaryDark;
  }

  img {
    float: left;
    height: 200px;
    margin-right: 40px;
    width: 130px;
    border-radius: 10px;
  }

  ul {
    padding-inline-start: 0;
    padding: 20px;
  }

  li {
    display: inline-block;
    list-style-type: none;
    position: relative;
    width: 100%;
    padding-left: 50px;
  }

  strong {
    color: $pramaryDark;
    display: block;
    margin-bottom: 6px;
  }

  span {
    margin-bottom: 20px;
    display: block;
  }

  a {
    text-decoration: none;

    svg {
      transition-property: transform;
      transition-duration: 250ms;
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
    }

    &:hover {
      color: initial;
      font-size: initial;

      span {
        text-decoration: underline;
      }

      svg  {
        transform: scale(1.5);
      }
    }
  }
}

.individual_publication {
  svg {
    position: relative !important;
  }

  span {
    display: inline-block;
    position: absolute;
    margin: 13px 6px;
  }
}

.step {
  display: flex;
  position: relative;
  // border: 1px solid red;

  .hif-step {
    max-width: 80%
  }

  .step-image {
    // border: 1px solid green;
    // z-index: 2;
    padding: 0 20px;
  }

  .step-text {
    flex-grow: 2;
    padding: 30px 30px 30px 60px;
    // border: 1px solid yellow;
  }
}

.step-arrow {
  border: 1px solid blue;
  left: 0;
  margin-left: 50%;
  position: absolute;
  position: absolute;
  top: 250px;
  transform: translate(-50%, -60px);
  z-index: 1;
}

.body-contents {
  margin: 0 auto;
  max-width: 960px;
  padding-top: 0;
  padding: 0px 1.0875rem 1.45rem;
}

.center-block {
  display: block;
  font-size: 18px;
  margin: 60px auto 100px;
  max-width: 70%;
}

.header-navigation {
  float: right;
  margin: 0;

  .hamburger-icon {
    display: none;
  }
}

.gatsby-image-wrapper {
  overflow: initial !important;
}

.footer-links {
  float: right;
  margin-top: 15px;
}

.footer-links a {
  color: #999999;
  text-decoration: none;
  margin: 10px;
}

.nav-item {
  display: inline-block;
  font-weight: bold;
  margin: 20px;
}

.intro-and-tagline {
  margin: 0 40px;
}

header {
  color: #222222;

  .dropbtn {
    display: inline-block;
    margin: -20px; // hack
    padding: 20px; // hack to make the hover area larger for language dropdown
  }

  .dropdown {
    position: relative;

    &:hover {
      .dropdown-content {
        display: block;
      }
    }
  }

  .dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: none;
    min-width: 160px;
    position: absolute;
    transform: translate(-24px, 20px);
    z-index: 1;

    span {
       cursor: pointer;
       display: block;
       margin: 10px;
       padding: 12px 16px;
       text-decoration: none;

       &:hover {
         background-color: #e2e2e2;
         border-radius: 10px;
       }
     }
  }

  .donate {
    border: 1px solid #80CF0F;
    color: #80CF0F;
    margin: 0;
    padding: 10px 40px;
  }
}

@media only screen and (max-width: 880px) {
  .header-navigation {
    // border: 5px solid red;
    display: block;
    max-height: 60px;
    max-width: 100px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;

    .nav-item {
      display: block;
      margin: 40px 20px;
    }

    .hamburger-icon {
      display: block;
      float: right;
      margin: 20px;
    }

    &:hover {
      background: white;
      border-radius: 10px;
      border: 1px solid #80cf0f;
      box-shadow: 0 4px 16px rgba(0,0,0,0.2);
      max-height: 100%;
      min-width: 200px;
      overflow: visible;
      padding-left: 20px;

      .donate {
        margin: 8px 20px 20px 0;
        text-align: center;
        padding: 10px;
      }
    }
  }

  .news-item {
    .photo-and-caption {
      float: none;

      img {
        max-width: 90%;
      }
    }

    .news-text {
      margin-left: 40px;
    }

    .date {
      position: relative;
      left: 40px;
      top: 30px;
    }
  }

}


@media only screen and (max-width: 700px) {
  .step {
    .step-image {
      min-width: 160px;
      padding: 0;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
    }

    .hif-step {
      max-width: 100%;
    }

    .step-text {
      margin: 20px 0;
      padding: 0;
    }
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .intro-and-tagline {
    margin: 0;
  }

  .step {
    flex-direction: column !important;

    .step-image {


      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        transform: none;
        width: initial;
      }
    }
  }
}
